@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

body {
  margin: 0;
  overflow-wrap: break-word;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

:root {
  --wave: cubic-bezier(0.66, 0, 0, 1.2);

  --air-0: #fff;
  --air-1: #f8f8f9;
  --air-2: #f2f2f2;

  --text-1: #333;
  --text-2: #666;
  --text-3: #999;
}

.dark {
  --air-0: #141415;
  --air-1: #202022;
  --air-2: #2b2b2d;

  --text-1: #d5d4d3;
  --text-2: #d5d4d3aa;
  --text-3: #d5d4d388;
}

body {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;

  font-family: Heebo, system-ui, Avenir, Helvetica, Arial, sans-serif;

  background: var(--air-1);
  color: var(--text-1);
}

#app {
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid: minmax(0, 415px) minmax(0, 150px) / 1fr;
}

.clr-1 {
  color: var(--text-1);
}
.clr-2 {
  color: var(--text-2);
}
.clr-3 {
  color: var(--text-3);
}
